@{
    Layout = "../Shared/_Layout.cshtml";
}

@model Tuple<List<ViewModels.Models.CategoryDetail>,List<ViewModels.Models.ProductDetail>,List<ViewModels.Models.ItemsInfo>,List<ViewModels.Models.AllItemsInfo>,ViewModels.Models.CustomerDetailVm>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css" integrity="sha512-wR4oNhLBHf7smjy0K4oqzdWumd+r5/+6QO/vDda76MW5iug4PT7v86FoEkySIJft3XA0Ae6axhIvHrqwm793Nw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css" integrity="sha512-6lLUdeQ5uheMFbWm3CP271l14RsX1xtx+J5x2yeIDkkiBpeVTNhTqijME7GgRKKi6hCqovwCoBTlRBEC20M8Mg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/services.css" />
    <link rel="stylesheet" href="~/css/payment.css" />
    <style>
        body {
            background-color: white;
        }

        .sidebar a {
            font-size: 17px;
            color: red;
        }

        .drpdes {
            margin-top: 15px;
            margin-bottom: 10px;
            width: 100%;
            background: transparent;
            color: rgb(255, 0, 0);
            border: 0px;
            font-weight: 500;
            background-color: #ffe599;
            height: 30px;
            border: solid 1px red;
            border-left: 0px;
            border-right: 0px;
        }
    </style>
</head>

<body>
    <div class="container mt-4">
        <div class="row">

            <div class="col-md-8 mb-4">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active text-secondary" id="nav-home-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                                aria-selected="true" style="font-size: 14px;
                height: 40px;">
                            <i class="bi bi-bookmark-x-fill"></i> Billing
                        </button>

                        <button class="nav-link text-secondary" id="nav-profile-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile"
                                aria-selected="false" style="font-size: 14px;
                    height: 40px;">
                            <i class="bi bi-aspect-ratio-fill me-2"></i>Rates
                        </button>
                        <button class="nav-link text-secondary" id="nav-profile-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile"
                                aria-selected="false" style="font-size: 14px;
                    height: 40px;">
                            <i class="bi bi-aspect-ratio-fill me-2"></i>Rates
                        </button>
                        <button class="nav-link text-secondary" id="nav-profile-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile"
                                aria-selected="false" style="font-size: 14px;
                    height: 40px;">
                            <i class="bi bi-aspect-ratio-fill me-2"></i>Rates
                        </button>

                    </div>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
                            <div class="container mt-3" style="margin-left: 36px;">
                                <div class="row responsive">
                                    @foreach (var u in Model.Item1)
                                    {
                                        <div class="col-lg-4 " style="width:30% !important;" onclick="productnames(@u.id,this)">
                                            <div class="card catcard">
                                                <img class="card-img-top" src="~/images/fries.png" alt="Card image" style="width:100%">
                                                <span class="text-center fw-bold">@u.categoryname</span>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>

                <div class="container  mt-3 details">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        @if (Model.Item2.Count() == 0)
                        {
                            <div class="d-flex align-items-center justify-content-center  itemsbox"><h2 class="ms-4 d-flex justify-content-center">Please select Any Category for displaying items</h2></div>

                        }
                        else
                        {
                            @foreach (var m in Model.Item2)
                            {
                                <div class="col widcard" onclick="productitem(@m.id)">
                                    <div class="card">
                                        <img src="~/images/pizza.png" class="card-img-top mx-auto" alt="..." style="width:60%">
                                        <div class="card-body border-top textdes d-flex justify-content-between">
                                            <h5 class="card-title">@m.productname</h5>
                                            <span class="card-title"><span>&#8377;</span>@m.unitprice</span>
                                        </div>
                                    </div>
                                </div>
                            }
                        }


                    </div>
                </div>
            </div>
            <div class="col-md-4  rightdivitems">
                <span class="fs-2 fw-bolder">Current Order</span>
                <div class="Bill" style="margin-top: 40%;">
                    <h2>No products Added For Bill Generation</h2>
                </div>
                <div class="overflow_class mt-4 d-none">
                    @if (Model.Item4.Any())
                    {
                        var totalItem = Model.Item4.First();
                        <div class="mb-3">
                            <label for="categoryName" class="form-label">
                                <p class="formInput">Table Number<span style="color: red;">*</span></p>
                            </label>
                            <input type="text" class="form-control data" id="tableno" aria-describedby="" placeholder="Enter TableNo" value="@totalItem.tablenumber">
                            <span class="d-none tablewarn rounded-pill mt-2 px-2">Please Enter Table Number</span>
                        </div>
                    }
                    else
                    {
                        <div class="mb-3">
                            <label for="categoryName" class="form-label">
                                <p class="formInput">Table Number<span style="color: red;">*</span></p>
                            </label>
                            <input type="text" class="form-control data" id="tableno" aria-describedby="" placeholder="Enter TableNo">
                            <span class="d-none tablewarn rounded-pill mt-2 px-2">Please Enter Table Number</span>
                        </div>
                    }
                    @if (Model.Item3.Count() == 0)
                    {
                        <div>
                            <h2>No products Added For Bill Generation</h2>
                        </div>
                    }
                    else
                    {
                        @foreach (var v in Model.Item3)
                        {
                            <div class="card mb-3 border-0" style="max-width: 540px;">
                                <span type="button" class="text-danger position-absolute" style="right: 1px;" onclick="delteitem(@v.orderid,@v.productid)">
                                    <img src="~/images/cross1.png" style="width: 20px;height: 20px;">
                                </span>
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="~/images/f1.jpg" class="img-fluid rounded-start w-100 h-100" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">@v.itemname</h5>
                                            <div class="align-center">
                                                <div class="d-flex justify-content-between position-relative">
                                                    <div>
                                                        <span>Price:@v.totalprice</span>
                                                    </div>
                                                    <div>
                                                        <button type="button" class="btn btn-warning btnHeight position-relative" onclick="incre(@v.orderid,@v.productid)"><span class=" plus_class">+</span></button>
                                                        <span id="unitvalue-@v.productid" class="ms-1 me-1 align-self-center textShow">@v.units</span>
                                                        <button type="button" class="btn btn-warning btnHeight position-relative" onclick="decre(@v.orderid,@v.productid)"><span class="minus_class">-</span></button>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }


                </div>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form class="mt-5 formm" id="formm">
                                    <div style="display:flex;justify-content:center;height: 65px;"> <img id="milk" style="width:65px;height:65px;display:none" src="~/images/milk-cookie.gif" /></div>

                                    <div class="mb-3">
                                        <label for="categoryName" class="form-label">
                                            <p class="formInput">Customer Name<span style="color: red;">*</span></p>
                                        </label>
                                        <input type="text" class="form-control data" id="custname" aria-describedby="" placeholder="Enter Product Name">
                                        <span class="text-danger"></span>
                                    </div>
                                    <div class="mb-3">
                                        <label for="categoryName" class="form-label">
                                            <p class="formInput">CustomerCode <span style="color: red;">*</span></p>
                                        </label>
                                        <input type="text" class="form-control data" id="custcode" aria-describedby="" placeholder="Enter Units">
                                        <span class="text-danger"></span>
                                    </div>
                                    <div class="mb-3">
                                        <label for="categoryName" class="form-label">
                                            <p class="formInput">Customer Email<span style="color: red;">*</span></p>
                                        </label>
                                        <input type="text" class="form-control data" id="custemail" aria-describedby="" placeholder="Enter Unit Price">
                                        <span class="text-danger"></span>
                                    </div>

                                    <div class="mb-3">
                                        <label for="categoryName" class="form-label">
                                            <p class="formInput">Customer Address<span style="color: red;">*</span></p>
                                        </label>
                                        <input type="text" class="form-control data" id="custaddre" aria-describedby="" placeholder="Enter Unit Price">
                                        <span class="text-danger"></span>
                                    </div>

                                    <div class="mb-3">
                                        <label for="categoryName" class="form-label">
                                            <p class="formInput">Customer Phoneno<span style="color: red;">*</span></p>
                                        </label>
                                        <input type="text" class="form-control data" id="custpho" aria-describedby="" placeholder="Enter Unit Price">
                                        <span class="text-danger"></span>
                                    </div>

                                    <div class="mb-3" style="display:flex;justify-content:center">
                                        <button data-bs-dismiss="mo" type="submit" class="btn submit" style="background-color: red;color: white;border-radius: 7px;">
                                            Add
                                        </button>
                                    </div>
                                    <hr>

                                    <div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex mt-4 mb-3 justify-content-center">
                    <button type="button" class="btn btn-warning me-3 customer open" data-bs-toggle="modal" data-bs-target="#exampleModal">Customer Registration</button>
                </div>
                <div class="d-flex mt-3 mb-3 justify-content-center bill_btn d-none">
                    <button type="button" class="btn btn-success" onclick="showBill()">Show Bill</button>
                </div>

                <div class="tableClass mt-2 d-none" id="tableId">
                    <table class="table table-dark">
                        <thead>
                            <tr>
                                <th scope="col">Items Name</th>
                                <th scope="col">Qty</th>
                                <th scope="col">Prices</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Item4)
                            {
                                <tr class="item-row table-light">
                                    <td class="fw-bold">@item.itemname</td>
                                    <td class="fw-bold">@item.units</td>
                                    <td class="fw-bold">@item.totalprice</td>
                                </tr>

                            }
                            @if (Model.Item4.Any())
                            {
                                <tr class="total-row table-light">
                                    <td colspan="2" class="fw-bold">Total</td>
                                    <td class="fw-bold">@Model.Item4.Sum(i => i.totalprice)</td>
                                </tr>
                            }
                            else
                            {
                                <tr class="no-data-row">
                                    <td colspan="3">No data available</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="d-flex mt-2  justify-content-center">
                        <button type="button" class="btn btn-warning mx-2">
                            <a asp-action="PayCash" asp-area="services" asp-controller="Service"> Payment with cash</a>
                        </button>
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#payModal">
                            Pay Online
                        </button>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="payModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog  modal-dialog-centered modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="containerform">
                                        <form asp-action="CustomerAdd" asp-controller="Service" method="post">
                                            <div class="row">
                                                <div class="col">
                                                    <h3 class="title">billing address</h3>
                                                    <div class="inputBox">
                                                        <span>full name :</span>
                                                        <input type="text" placeholder="john deo" asp-for="@Model.Item5.name">
                                                        <span asp-validation-for="@Model.Item5.name" class="text-danger"></span>
                                                    </div>
                                                    <div class="inputBox">
                                                        <span>email :</span>
                                                        <input type="email" placeholder="example@example.com" asp-for="@Model.Item5.email">
                                                        <span asp-validation-for="@Model.Item5.email" class="text-danger"></span>
                                                    </div>
                                                    <div class="inputBox">
                                                        <span>Address :</span>
                                                        <input type="text" placeholder="room - street - locality" asp-for="@Model.Item5.address">
                                                        <span asp-validation-for="@Model.Item5.address" class="text-danger"></span>
                                                    </div>
                                                    <div class="inputBox">
                                                        <span>City :</span>
                                                        <input type="text" placeholder="mumbai">
                                                    </div>

                                                    <div class="flex">
                                                        <div class="inputBox">
                                                            <span>PhoneNumber :</span>
                                                            <input placeholder="india" asp-for="@Model.Item5.phone">
                                                            <span asp-validation-for="@Model.Item5.phone" class="text-danger"></span>
                                                        </div>
                                                        <div class="inputBox">
                                                            <span>zip code :</span>
                                                            <input type="text" placeholder="123 456">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <h3 class="title">payment</h3>
                                                    <div class="inputBox">
                                                        <span>cards accepted :</span>
                                                        <img src="~/images/card_img.png" alt="">
                                                    </div>
                                                    <div class="inputBox">
                                                        <span>name on card :</span>
                                                        <input type="text" placeholder="name">
                                                    </div>
                                                    <div class="inputBox">
                                                        <span>credit card number :</span>
                                                        <input type="number" placeholder="1111-2222-3333-4444">
                                                    </div>
                                                    <div class="inputBox">
                                                        <span>exp month :</span>
                                                        <input type="text" placeholder="january">
                                                    </div>
                                                    <div class="flex">
                                                        <div class="inputBox">
                                                            <span>exp year :</span>
                                                            <input type="number" placeholder="2022">
                                                        </div>
                                                        <div class="inputBox">
                                                            <span>CVV :</span>
                                                            <input type="text" placeholder="1234">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div class="d-flex flex-column">
                                                        <div> <span>Price to Pay</span></div>
                                                        <div><input type="text" placeholder="This is the price" class="inputfde" value="@Model.Item4.Sum(i => i.totalprice)"></div>
                                                    </div>
                                                </div>
                                                <div class="col">
                                                    <button type="submit" class="submit-btn">proceed to checkout</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.js" integrity="sha512-WNZwVebQjhSxEzwbettGuQgWxbpYdoLf7mH+25A7sfQbbxKeS5SQ9QBf97zOY4nOlwtksgDA/czSTmfj4DUEiQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/js/services.js"></script>
</body>