@model List<ViewModels.Models.ProductInfo>

<body>
    <table class=" table my-2 table-bordered" id="producttable">

        <thead class="table-dark">
            <tr>
                <th scope="col">ProductName</th>
                <th scope="col">Units</th>
                <th scope="col">CategoryName</th>
                <th scope="col">UnitPrice</th>
                <th>Action</th>
            </tr>
        </thead>


        <tbody>

            @foreach (var u in Model)
            {
                <tr>
                    <td>@u.productName</td>
                     <td>@u.unit</td>
                          <td>@u.categoryname</td>
                    <td>@u.unitprice</td>
                   



                    <td class="d-flex">
                        <button class="btn border-0">
                            <a asp-action="GetProductById" asp-controller="Product" type="button" class="text-warning" onclick="Editform(@u.productID)" asp-route-id="@u.productID">
                                <i class="bi bi-pencil-square icon"></i>
                            </a>
                        </button>
                        <button class="btn border-0">
                            <a asp-action="DeleteCategoryById" asp-controller="Product" class="nav-link text-black deleteMission p-2" type="button" asp-route-id="@u.productID"><i class="bi bi-trash3"></i></a>
                        </button>
                    </td>
                </tr>
            }


        </tbody>
    </table>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#producttable').DataTable({

            });
        });
    </script>
</body>  