@{
    Layout = "../Shared/_Layout.cshtml";
}
@*@model List<ViewModels.Models.ProductInfo*@
@*@model ViewModels.Models.ProductInfoEditVm*@
@model Tuple<ViewModels.Models.ProductAddVm,ViewModels.Models.ProductInfoEditVm>
<body>
    <div>
        @if (TempData["success"] != null)
        {
              <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css"/>
                <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
            <script type="text/javascript">
                toastr.success('@TempData["success"]');
            </script>
        }
    </div>
    <!-- Button trigger modal -->
    <div class="d-flex mt-5 mb-3 justify-content-end">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Add Product
    </button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="mt-5 formm" id="formm" asp-action="ProductAdd" asp-controller="Product" enctype="multipart/form-data">
                        <div style="display:flex;justify-content:center;height: 65px;"> <img id="milk" style="width:65px;height:65px;display:none" src="~/images/milk-cookie.gif" /></div>

                        <div class="mb-3">
                            <label for="contact" class="form-label">
                                <p class="formInput">Select Categories<span style="color: red;">*</span></p>
                            </label>
                            <select id="SelectedCompanyId" class="form-select form-control" asp-for="@Model.Item1.categoryId" asp-items="@Model.Item2.productadd.Categories">
                                <option>Select Category</option>
                            </select>
                            <span asp-validation-for="@Model.Item1.categoryId" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label for="categoryName" class="form-label">
                                <p class="formInput">Product Name <span style="color: red;">*</span></p>
                            </label>
                            <input type="text" class="form-control data" id="" aria-describedby="" placeholder="Enter Product Name" asp-for="@Model.Item1.Productname">
                            <span asp-validation-for="@Model.Item1.Productname" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label for="categoryName" class="form-label">
                                <p class="formInput">Units <span style="color: red;">*</span></p>
                            </label>
                            <input type="text" class="form-control data" id="" aria-describedby="" placeholder="Enter Units" asp-for="@Model.Item1.units">
                            <span asp-validation-for="@Model.Item1.units" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label for="categoryName" class="form-label">
                                <p class="formInput">Unit Price <span style="color: red;">*</span></p>
                            </label>
                            <input type="text" class="form-control data" id="" aria-describedby="" placeholder="Enter Unit Price" asp-for="@Model.Item1.unitprice">
                            <span asp-validation-for="@Model.Item1.unitprice" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label>Image</label>
                            <div style="border:solid grey 1px;"> <input type="file" style="width:716px;opacity: 0" id="ImageBanner" class="file-input data" accept="image/jpeg, image/PNG, image/jpg" asp-for="@Model.Item1.image"></div>
                        </div>

                        <div class="mb-3" style="display:flex;justify-content:center">
                            <button type="submit" value="submit" class="btn submit"
                                    style="background-color: red;color: white;border-radius: 7px;">
                                Add
                            </button>
                        </div>
                        <hr>

                        <div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
   @* <div class="d-flex mt-5 mb-3 justify-content-end">
   <button type="button" class="btn btn-danger" style="height:50px;">
        <a class="text-decoration-none text-white" asp-action="ProductForm" asp-controller="Product">Add Product</a>
    </button>
    </div>*@
    <table class=" table my-2 table-bordered" id="producttable">

        <thead class="table-dark">
            <tr>
                <th scope="col">ProductName</th>
                <th scope="col">Units</th>
                <th scope="col">CategoryName</th>
                <th scope="col">UnitPrice</th>
                <th scope="col">isActive</th>
                <th>Action</th>
            </tr>
        </thead>


        <tbody>

            @foreach (var u in Model.Item2.products)
            {
                <tr>
                    <td>@u.productName</td>
                     <td>@u.unit</td>
                          <td>@u.categoryname</td>
                    <td>@u.unitprice</td>
                   
                    @{
                        if(u.isactive==1)
                        {
                            <td class="text-success fw-bold">Active</td>
                        }
                        else
                        {
                            <td class="text-danger fw-bold">In-Active</td>
                        }
                    }


                    <td class="d-flex">
                        <button class="btn border-0">
                            <a asp-action="GetProductById" asp-controller="Product" type="button" class="text-warning" onclick="Editform(@u.productID)" asp-route-id="@u.productID">
                                <i class="bi bi-pencil-square icon"></i>
                            </a>
                        </button>
                        <button class="btn border-0">
                            <a asp-action="DeleteProductById" asp-controller="Product" class="nav-link text-black deleteMission p-2" type="button" asp-route-id="@u.productID"><i class="bi bi-trash3"></i></a>
                        </button>
                    </td>
                </tr>
            }


        </tbody>
    </table>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#producttable').DataTable({

            });
        });
    </script>
</body>  