@{
    Layout = "../Shared/_Layout.cshtml";
}
@model Tuple<List<ViewModels.Models.CategoryInfo>,ViewModels.Models.CategoryVm>
@*@model List<ViewModels.Models.CategoryInfo>*@

<body>
    <div>
        @if (TempData["success"] != null)
        {
              <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css"/>
                <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
            <script type="text/javascript">
                toastr.success('@TempData["success"]');
            </script>
        }
    </div>
    <div class="d-flex mt-5 mb-3 justify-content-end">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Add Categories
        </button>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="mt-5 formm" id="formm" asp-action="AddCategories" asp-controller="category" enctype="multipart/form-data">
                        <div style="display:flex;justify-content:center;height: 65px;"> <img id="milk" style="width:65px;height:65px;display:none" src="~/images/milk-cookie.gif" /></div>

                        @if (TempData["ErrorMessage"] != null)
                        {
                            <span class="text-danger">@TempData["ErrorMessage"]</span>
                        }
                        <div class="mb-3">
                            <label for="companyName" class="form-label">
                                <p class="formInput">Category Name<span style="color: red;">*</span></p>
                            </label>
                            <input type="text" class="form-control data" id="companyName" aria-describedby="" placeholder="company name" asp-for="@Model.Item2.name">
                            <span asp-validation-for="@Model.Item2.name" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label>Image</label>
                            <div style="border:solid grey 1px;"> <input type="file" style="width:716px;opacity: 0" id="ImageBanner" class="file-input data" accept="image/jpeg, image/PNG, image/jpg" asp-for="@Model.Item2.image"></div>
                        </div>
                        @*<div style="display: flex;justify-content: center;">

                        </div>*@
                        <button type="submit" class="btn submit"
                                style="background-color: red;color: white;border-radius: 7px;">
                            Add
                        </button>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    @*<div class="d-flex mt-5 mb-3 justify-content-end">
        <button type="button" class="btn btn-danger" style="height:50px;">
            <a class="text-decoration-none text-white" asp-action="categories" asp-controller="Category">Add Category</a>
        </button>
    </div>*@
<table class=" table my-2 table-bordered" id="categorytable">

                    <thead class="table-dark">
                        <tr>
                            <th scope="col">CategoryName</th>
                            <th scope="col">isActive</th>
                            <th scope="col">stocks</th>
                            <th>Action</th>
                        </tr>
                    </thead>


                    <tbody>

            @foreach (var u in Model.Item1)
            {
                                    <tr>
                                        <td>@u.categoryname</td>
                    @{
                        if (u.isactive == 1)
                        {
                                        <td class="text-success fw-bold">Active</td>
                        }
                        else
                        {
                            <td class="text-danger fw-bold">InActive</td>
                        }
                    }
                          <td>@u.stocks</td>



                                        <td class="d-flex">
                                            <button class="btn border-0">
                                <a asp-action="GetCategoryById" asp-controller="Category" type="button" class="text-warning"  asp-route-id="@u.CategoryId">
                                                <i class="bi bi-pencil-square icon"></i>
                                                </a> </button>
                                                <button class="btn border-0">
                                             <a asp-action="DeleteCategoryById" asp-controller="Category" class="nav-link text-black deleteMission p-2" type="button" asp-route-id="@u.CategoryId"><i class="bi bi-trash3"></i></a>
                                                </button>
                                        </td>
                                    </tr>
            }


                    </tbody>
                </table>
                <script src="~/lib/jquery/dist/jquery.min.js"></script>

       <script>
$(document).ready(function () {
            $('#categorytable').DataTable({

    });
});
</script>
     </body>  

                                            